@font-face {
  font-family: 'Lato Light';
  src: url("../fonts/Lato-Light.eot");
  src: url("../fonts/Lato-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Light.woff") format("woff"), url("../fonts/Lato-Light.ttf") format("truetype");
}
@font-face {
  font-family: 'Lato Regulare';
  src: url("../fonts/Lato-Regulare.eot");
  src: url("../fonts/Lato-Regulare.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Regulare.woff") format("woff"), url("../fonts/Lato-Regulare.ttf") format("truetype");
}
@font-face {
  font-family: 'Lato Bold';
  src: url("../fonts/Lato-Bold.eot");
  src: url("../fonts/Lato-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Bold.woff") format("woff"), url("../fonts/Lato-Bold.ttf") format("truetype");
}
@font-face {
  font-family: 'Lato Black';
  src: url("../fonts/Lato-Black.eot");
  src: url("../fonts/Lato-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Black.woff") format("woff"), url("../fonts/Lato-Black.ttf") format("truetype");
}
/* line 4, ../sass/style.scss */
html, body {
  width: 100%;
  background-color: #FFFFFF;
  font-size: 5px;
  margin: 0;
  font-family: "Lato Light";
}

/* line 12, ../sass/style.scss */
ul, li {
  list-style: none;
  padding: 0;
}

/* line 17, ../sass/style.scss */
img {
  max-width: 100%;
}

/* line 22, ../sass/style.scss */
.pmu-wrapper > * {
  width: auto;
  max-width: 450px;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  margin: 0 auto;
}

@media (min-width: 768px) {
  /* line 34, ../sass/style.scss */
  .pmu-wrapper > * {
    width: 80%;
    max-width: 80.8rem;
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
  }
}
/* line 45, ../sass/style.scss */
.title {
  font-size: 4rem;
  line-height: 1;
  font-family: "Lato Black";
  color: #454545;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

/* line 53, ../sass/style.scss */
.desc {
  font-size: 2.2rem;
  color: #757575;
  padding: 0 5rem;
}

/* line 59, ../sass/style.scss */
.container-full {
  margin: 0 auto;
  width: 100%;
}

/* line 65, ../sass/style.scss */
.banner-wrapper {
  min-height: 70rem;
  background: transparent url("../images/banner-background.png") no-repeat center;
  background-size: cover;
  margin-bottom: 15rem;
}
/* line 69, ../sass/style.scss */
.banner-wrapper .banner-container {
  padding-top: 10rem;
  padding-bottom: 10rem;
  text-align: center;
  color: #FFFFFF;
  line-height: 1.2;
}
/* line 75, ../sass/style.scss */
.banner-wrapper .banner-container .banner-logo {
  padding: 1.5rem 0 12rem 0;
}
/* line 77, ../sass/style.scss */
.banner-wrapper .banner-container .banner-logo img {
  width: 10.8rem;
}
/* line 81, ../sass/style.scss */
.banner-wrapper .banner-container .banner-title {
  font-family: "Lato Black";
  font-size: 5.8rem;
  background-image: url("../images/header-background.png");
  display: inline-block;
  padding: 1.1rem 3.1rem;
  color: inherit;
}
/* line 89, ../sass/style.scss */
.banner-wrapper .banner-container .banner-desc {
  margin: 1px 0 0;
}
/* line 91, ../sass/style.scss */
.banner-wrapper .banner-container .banner-desc P {
  font-size: 2.2rem;
  background-image: url("../images/header-background.png");
  padding: 0 .5rem;
  display: inline;
  line-height: inherit;
}
/* line 99, ../sass/style.scss */
.banner-wrapper .banner-container .banner-link {
  margin-top: 13rem;
}
/* line 101, ../sass/style.scss */
.banner-wrapper .banner-container .banner-link i {
  background-image: url("../images/arrow-down.png");
  width: 3.8rem;
  height: 3.8rem;
  display: inline-block;
  background-size: contain;
}

/* line 113, ../sass/style.scss */
.bachelours-degree {
  margin-bottom: 15rem;
  text-align: center;
}
/* line 119, ../sass/style.scss */
.bachelours-degree .bachelours-degree-wrapper .desc {
  margin-bottom: 7rem;
}
/* line 122, ../sass/style.scss */
.bachelours-degree .bachelours-degree-wrapper .degree-list {
  border-top: 1px solid #ECEFF1;
}
/* line 124, ../sass/style.scss */
.bachelours-degree .bachelours-degree-wrapper .degree-list .degree-list-item {
  border-bottom: 1px solid #ECEFF1;
  padding: 1.8rem 2rem;
  font-size: 2.2rem;
  font-family: "Lato Black";
  display: table;
  width: 100%;
  position: relative;
  text-align: left;
  color: #454545;
}
/* line 134, ../sass/style.scss */
.bachelours-degree .bachelours-degree-wrapper .degree-list .degree-list-item i {
  display: table-cell;
  font-style: normal;
  width: 2.1rem;
  height: 2.2rem;
  line-height: 1;
}
/* line 141, ../sass/style.scss */
.bachelours-degree .bachelours-degree-wrapper .degree-list .degree-list-item p {
  display: table-cell;
  padding-left: 2.5rem;
  width: 65rem;
}
/* line 146, ../sass/style.scss */
.bachelours-degree .bachelours-degree-wrapper .degree-list .degree-list-item button {
  display: table-cell;
  background: none;
  border: 1px solid #ECEFF1;
  width: 12rem;
  height: 4rem;
  color: #FF3366;
  text-transform: uppercase;
  font-size: 1.4rem;
  padding: 1rem 2rem;
  border-radius: 2rem;
}
/* line 157, ../sass/style.scss */
.bachelours-degree .bachelours-degree-wrapper .degree-list .degree-list-item button:focus, .bachelours-degree .bachelours-degree-wrapper .degree-list .degree-list-item button:active {
  outline: none;
}
/* line 162, ../sass/style.scss */
.bachelours-degree .bachelours-degree-wrapper .degree-list .degree-list-item.active i {
  text-indent: -99999999px;
  background: transparent url("../images/green-check.png") no-repeat center left;
  background-size: contain;
}
/* line 174, ../sass/style.scss */
.bachelours-degree.masters-degree .bachelours-degree-wrapper .degree-list-item.active {
  border-bottom: 0;
  background: #FF3366;
  color: #FFFFFF;
}
/* line 178, ../sass/style.scss */
.bachelours-degree.masters-degree .bachelours-degree-wrapper .degree-list-item.active button {
  color: #FFFFFF;
}
/* line 181, ../sass/style.scss */
.bachelours-degree.masters-degree .bachelours-degree-wrapper .degree-list-item.active i {
  position: relative;
  background-image: url("../images/white-check.png");
}
/* line 184, ../sass/style.scss */
.bachelours-degree.masters-degree .bachelours-degree-wrapper .degree-list-item.active i .popup-info {
  position: absolute;
  padding: 1rem;
  left: calc(100% + 1rem);
  top: 0;
  font-family: "Lato Bold";
  font-size: 1.2rem;
  background: white;
  color: initial;
  display: table-cell;
  vertical-align: middle;
  text-indent: 0;
  white-space: nowrap;
  border-radius: 3px;
  top: 50%;
  -moz-box-shadow: 2px 2px 15px -6px #000000;
  -webkit-box-shadow: 2px 2px 15px -6px #000000;
  box-shadow: 2px 2px 15px -6px #000000;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 201, ../sass/style.scss */
.bachelours-degree.masters-degree .bachelours-degree-wrapper .degree-list-item.active i .popup-info:before {
  height: 0;
  width: 0;
  content: "";
  border-width: .9rem;
  border-style: solid;
  border-color: transparent #FFFFFF transparent transparent;
  position: absolute;
  left: -1.6rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* line 221, ../sass/style.scss */
.specialization {
  margin-bottom: 15rem;
  text-align: center;
  color: #454545;
}
/* line 225, ../sass/style.scss */
.specialization .title {
  margin-bottom: 2rem;
}
/* line 228, ../sass/style.scss */
.specialization .desc {
  padding: 0 5rem;
}
/* line 231, ../sass/style.scss */
.specialization .specialization-list {
  display: inline-block;
  width: 100%;
}
/* line 234, ../sass/style.scss */
.specialization .specialization-list .specialization-list-item {
  width: 50%;
  float: left;
  font-family: "Lato Black";
  font-size: 2.2rem;
  margin-top: 6rem;
}
/* line 240, ../sass/style.scss */
.specialization .specialization-list .specialization-list-item:nth-child(4n+1) {
  clear: left;
}
/* line 243, ../sass/style.scss */
.specialization .specialization-list .specialization-list-item i {
  border-radius: 50%;
  background-color: #454545;
  display: block;
  width: 7rem;
  height: 7rem;
  margin: 0 auto 2rem;
}
/* line 251, ../sass/style.scss */
.specialization .specialization-list .specialization-list-item span {
  display: block;
  text-transform: uppercase;
}
/* line 255, ../sass/style.scss */
.specialization .specialization-list .specialization-list-item.active {
  color: #FF3366;
}
/* line 257, ../sass/style.scss */
.specialization .specialization-list .specialization-list-item.active i {
  background-color: #FF3366;
}

/* line 265, ../sass/style.scss */
.knowledge {
  background: #f2f2f2;
  padding: 15rem 0;
  text-align: center;
}
/* line 269, ../sass/style.scss */
.knowledge > * {
  max-width: 94.4rem;
}
/* line 273, ../sass/style.scss */
.knowledge .knowledge-list .knowledge-list-item {
  margin-top: 6rem;
  width: 100%;
}

@media (min-width: 768px) {
  /* line 282, ../sass/style.scss */
  html, body {
    font-size: 6px;
  }

  /* line 288, ../sass/style.scss */
  .specialization .specialization-list .specialization-list-item {
    width: 25%;
  }

  /* line 295, ../sass/style.scss */
  .knowledge .knowledge-list {
    display: inline-block;
    margin-left: -2.1rem;
  }
  /* line 298, ../sass/style.scss */
  .knowledge .knowledge-list .knowledge-list-item {
    padding-left: 2.1rem;
    width: 33.33%;
    float: left;
    position: relative;
  }
  /* line 303, ../sass/style.scss */
  .knowledge .knowledge-list .knowledge-list-item .list-image {
    position: relative;
  }
  /* line 305, ../sass/style.scss */
  .knowledge .knowledge-list .knowledge-list-item .list-image:before {
    content: "";
    background: transparent url("../images/header-background.png");
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  /* line 315, ../sass/style.scss */
  .knowledge .knowledge-list .knowledge-list-item .list-desc {
    position: absolute;
    bottom: 0;
    background-color: #FFFFFF;
    line-height: 1;
    padding: 4rem;
  }
  /* line 321, ../sass/style.scss */
  .knowledge .knowledge-list .knowledge-list-item .list-desc P {
    text-align: left;
    font-size: 3rem;
    font-family: "Lato Black";
    text-transform: uppercase;
    margin: 0;
  }
  /* line 331, ../sass/style.scss */
  .knowledge .knowledge-list .knowledge-list-item.active .list-image:before {
    background: transparent url("../images/red-background.png");
  }
  /* line 335, ../sass/style.scss */
  .knowledge .knowledge-list .knowledge-list-item.active .list-desc {
    background: transparent;
    border: 1px solid #FFFFFF;
    padding: 2rem;
    top: 0;
    margin: 2rem;
    color: #FFFFFF;
  }
}
@media (min-width: 992px) {
  /* line 352, ../sass/style.scss */
  html, body {
    font-size: 8px;
  }
}
@media (min-width: 1200px) {
  /* line 360, ../sass/style.scss */
  html, body {
    font-size: 10px;
  }
}
